body {
  font-family: sans-serif;
}
.videoPlayer-controls {
  width: 650px;
  display: grid;
  grid-template-columns: 20px 6fr 2fr repeat(2, 20px);
  text-align: center;
  position: relative;
  left: 25px;
  bottom: 55px;
  padding: 5px 0px;
  opacity: 0;
  background-color: #b2bec3;
}

.videoPlayer:hover .videoPlayer-controls,
.videoPlayer:focus .videoPlayer-controls {
  opacity: 0.7;
}

#duration {
  width: 400px;
  background-color: white;
}

.QsE3 {
  visibility: hidden;
}
